<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>PG_Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>addpg</description>
    <display-name>addpg</display-name>
    <servlet-name>addpg</servlet-name>
    <servlet-class>com.pgproject.addpg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addpg</servlet-name>
    <url-pattern>/addpg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>contact page form</description>
    <display-name>contact_tab</display-name>
    <servlet-name>contact_tab</servlet-name>
    <servlet-class>com.pgproject.contact_tab</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>contact_tab</servlet-name>
    <url-pattern>/contact_tab</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>login page</description>
    <display-name>sign_in</display-name>
    <servlet-name>sign_in</servlet-name>
    <servlet-class>com.pgproject.sign_in</servlet-class>
  </servlet>
  <session-config>
  	<session-timeout>8</session-timeout>
  </session-config>
  <servlet-mapping>
    <servlet-name>sign_in</servlet-name>
    <url-pattern>/sign_in</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sign_up</display-name>
    <servlet-name>sign_up</servlet-name>
    <servlet-class>com.pgproject.sign_up</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sign_up</servlet-name>
    <url-pattern>/sign_up</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>total_pg_owners</display-name>
    <servlet-name>total_pg_owners</servlet-name>
    <servlet-class>com.admin.total_pg_owners</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>total_pg_owners</servlet-name>
    <url-pattern>/total_pg_owners</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>search</display-name>
    <servlet-name>search</servlet-name>
    <servlet-class>com.pgproject.search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admin_dashboard</display-name>
    <servlet-name>admin_dashboard</servlet-name>
    <servlet-class>com.admin.admin_dashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_dashboard</servlet-name>
    <url-pattern>/admin_dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PG_OwnerDashboard</display-name>
    <servlet-name>PG_OwnerDashboard</servlet-name>
    <servlet-class>com.admin.PG_OwnerDashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PG_OwnerDashboard</servlet-name>
    <url-pattern>/PG_OwnerDashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>booking</display-name>
    <servlet-name>booking</servlet-name>
    <servlet-class>com.admin.booking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>booking</servlet-name>
    <url-pattern>/booking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>confirm_booking</display-name>
    <servlet-name>confirm_booking</servlet-name>
    <servlet-class>com.admin.confirm_booking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>confirm_booking</servlet-name>
    <url-pattern>/confirm_booking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>user_page</display-name>
    <servlet-name>user_page</servlet-name>
    <servlet-class>com.pgproject.user_page</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user_page</servlet-name>
    <url-pattern>/user_page</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout_admin</display-name>
    <servlet-name>logout_admin</servlet-name>
    <servlet-class>com.pgproject.logout_admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout_admin</servlet-name>
    <url-pattern>/logout_admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout_owner</display-name>
    <servlet-name>logout_owner</servlet-name>
    <servlet-class>com.pgproject.logout_owner</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout_owner</servlet-name>
    <url-pattern>/logout_owner</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout_user</display-name>
    <servlet-name>logout_user</servlet-name>
    <servlet-class>com.pgproject.logout_user</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout_user</servlet-name>
    <url-pattern>/logout_user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>notfications_admin</display-name>
    <servlet-name>notfications_admin</servlet-name>
    <servlet-class>com.admin.notfications_admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>notfications_admin</servlet-name>
    <url-pattern>/notfications_admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admin_logout</display-name>
    <servlet-name>admin_logout</servlet-name>
    <servlet-class>com.admin.admin_logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_logout</servlet-name>
    <url-pattern>/admin_logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>pg_manage</display-name>
    <servlet-name>pg_manage</servlet-name>
    <servlet-class>com.admin.pg_manage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pg_manage</servlet-name>
    <url-pattern>/pg_manage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete_command</display-name>
    <servlet-name>delete_command</servlet-name>
    <servlet-class>com.admin.delete_command</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete_command</servlet-name>
    <url-pattern>/delete_command</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>change_password</display-name>
    <servlet-name>change_password</servlet-name>
    <servlet-class>com.admin.change_password</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>change_password</servlet-name>
    <url-pattern>/change_password</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addpg_front</display-name>
    <servlet-name>addpg_front</servlet-name>
    <servlet-class>com.pgproject.addpg_front</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addpg_front</servlet-name>
    <url-pattern>/addpg_front</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Shimla_location</display-name>
    <servlet-name>Shimla_location</servlet-name>
    <servlet-class>com.pgproject.Shimla_location</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Shimla_location</servlet-name>
    <url-pattern>/Shimla_location</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>gurgaon_location</display-name>
    <servlet-name>gurgaon_location</servlet-name>
    <servlet-class>com.pgproject.gurgaon_location</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gurgaon_location</servlet-name>
    <url-pattern>/gurgaon_location</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Chandigarh_location</display-name>
    <servlet-name>Chandigarh_location</servlet-name>
    <servlet-class>com.pgproject.Chandigarh_location</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Chandigarh_location</servlet-name>
    <url-pattern>/Chandigarh_location</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>total_owners</display-name>
    <servlet-name>total_owners</servlet-name>
    <servlet-class>com.admin.total_owners</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>total_owners</servlet-name>
    <url-pattern>/total_owners</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete_owner</display-name>
    <servlet-name>delete_owner</servlet-name>
    <servlet-class>com.admin.delete_owner</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete_owner</servlet-name>
    <url-pattern>/delete_owner</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>total_states</display-name>
    <servlet-name>total_states</servlet-name>
    <servlet-class>com.admin.total_states</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>total_states</servlet-name>
    <url-pattern>/total_states</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>total_cities</display-name>
    <servlet-name>total_cities</servlet-name>
    <servlet-class>com.admin.total_cities</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>total_cities</servlet-name>
    <url-pattern>/total_cities</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>total_users</display-name>
    <servlet-name>total_users</servlet-name>
    <servlet-class>com.admin.total_users</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>total_users</servlet-name>
    <url-pattern>/total_users</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>total_pg</display-name>
    <servlet-name>total_pg</servlet-name>
    <servlet-class>com.admin.total_pg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>total_pg</servlet-name>
    <url-pattern>/total_pg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete_pg</display-name>
    <servlet-name>delete_pg</servlet-name>
    <servlet-class>com.admin.delete_pg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete_pg</servlet-name>
    <url-pattern>/delete_pg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>user_password</display-name>
    <servlet-name>user_password</servlet-name>
    <servlet-class>com.pgproject.user_password</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user_password</servlet-name>
    <url-pattern>/user_password</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete_user</display-name>
    <servlet-name>delete_user</servlet-name>
    <servlet-class>com.pgproject.delete_user</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete_user</servlet-name>
    <url-pattern>/delete_user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update_pgdetails</display-name>
    <servlet-name>update_pgdetails</servlet-name>
    <servlet-class>com.pgproject.update_pgdetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update_pgdetails</servlet-name>
    <url-pattern>/update_pgdetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update_pg</display-name>
    <servlet-name>update_pg</servlet-name>
    <servlet-class>com.pgproject.update_pg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update_pg</servlet-name>
    <url-pattern>/update_pg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update_pg_form</display-name>
    <servlet-name>update_pg_form</servlet-name>
    <servlet-class>com.pgproject.update_pg_form</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update_pg_form</servlet-name>
    <url-pattern>/update_pg_form</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>owner_pgdetails</display-name>
    <servlet-name>owner_pgdetails</servlet-name>
    <servlet-class>com.admin.owner_pgdetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>owner_pgdetails</servlet-name>
    <url-pattern>/owner_pgdetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>owner_totalbookings</display-name>
    <servlet-name>owner_totalbookings</servlet-name>
    <servlet-class>com.admin.owner_totalbookings</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>owner_totalbookings</servlet-name>
    <url-pattern>/owner_totalbookings</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>owner_newbookings</display-name>
    <servlet-name>owner_newbookings</servlet-name>
    <servlet-class>com.admin.owner_newbookings</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>owner_newbookings</servlet-name>
    <url-pattern>/owner_newbookings</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>owner_confirmedbookings</display-name>
    <servlet-name>owner_confirmedbookings</servlet-name>
    <servlet-class>com.admin.owner_confirmedbookings</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>owner_confirmedbookings</servlet-name>
    <url-pattern>/owner_confirmedbookings</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>owner_totalpg</display-name>
    <servlet-name>owner_totalpg</servlet-name>
    <servlet-class>com.admin.owner_totalpg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>owner_totalpg</servlet-name>
    <url-pattern>/owner_totalpg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>user_booking_manage</display-name>
    <servlet-name>user_booking_manage</servlet-name>
    <servlet-class>com.pgproject.user_booking_manage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user_booking_manage</servlet-name>
    <url-pattern>/user_booking_manage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete_command_user</display-name>
    <servlet-name>delete_command_user</servlet-name>
    <servlet-class>com.pgproject.delete_command_user</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete_command_user</servlet-name>
    <url-pattern>/delete_command_user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>confirmed_screen</display-name>
    <servlet-name>confirmed_screen</servlet-name>
    <servlet-class>com.pgproject.confirmed_screen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>confirmed_screen</servlet-name>
    <url-pattern>/confirmed_screen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>user_search</display-name>
    <servlet-name>user_search</servlet-name>
    <servlet-class>com.pgproject.user_search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user_search</servlet-name>
    <url-pattern>/user_search</url-pattern>
  </servlet-mapping>
</web-app>